services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: devdatkumar
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      # Polling ensures Hot Module Replacement works on Windows, Mac, and Linux
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
